{
  "env": {
    "es6": true,
    "amd": true,
    "browser": true,
    "mocha": true,
    "node": true,
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
  },
  "rules": {},
}
