# Ignore nonessential files and directories for releases
# See: http://git-scm.com/book/en/v2/Customizing-Git-Git-Attributes#Exporting-Your-Repository

.gitattributes export-ignore
.gitignore export-ignore
gulpfile.js export-ignore
bower.json export-ignore
package.json export-ignore
/scrollreveal.js export-ignore
